{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Aivle_30</title>
    <link rel="stylesheet" href="{% static 'sign/signUpCss3.css' %}">
    <script src="{% static 'sign/signUpjs3.js' %}"></script>
</head>
<body>
    <div class="wrapper">
        <div class="title"><h1 style="font-size: 21px;">회원가입</h1></div>
        <form id="signUpForm" method="post" action="{% url 'signup_view' %}">
            {% csrf_token %}
            <div class="id">
                <h3 class="list">아이디<span id="emailError"></span></h3>
                {{ form.username }}
            </div>
            <div class="name">
                <h3 class="list">성 함<span id="emailError"></span></h3>
                {{ form.name }}
                <div id="nameError" class="error"></div>
            </div>
            <div class="password">
                <h3 class="list">비밀번호<span id="emailError"></span></h3>
                {{ form.password }}
                <div id="passwordError" class="error"></div>
            </div>
            <div class="phone">
                <h3 class="list">전화번호<span id="emailError"></span></h3>
                {{ form.phone }}
            </div>
            <div class="userInput">
                <h3 class="list">이메일<span id="emailError"></span></h3>
                {{ form.email }}
            </div>
            <div class="area">
                <h3 class="list">지역<span id="emailError"></span></h3>
                {{ form.area }}
                <div id="areaError" class="error"></div>
            </div>
            <div class="gender">
                <h3 class="list">성별<span id="emailError"></span></h3>
                {{ form.gender }}
                <div id="genderError" class="error"></div>
            </div>
            <div class="line"><hr></div>
            <div class="signUp">
                <button type="submit" id="signUpButton">가입하기</button>
            </div>
        </form>
    </div>
</body>
</html>