/* Home.css */
.card-container {
  flex-direction: column; /* 카드를 세로로 쌓음 */
  align-items: flex-start; /* 카드를 왼쪽 정렬함 */
  max-width: 1200px;
  width: 100%; /* 컨테이너의 너비를 화면의 100%로 설정 */
  margin: 40px auto;
}
  
/* BannerSection.css */
.banner-section {
  position: relative;
  background-size: cover; /* 배경 이미지가 컨테이너 크기에 맞게 조절됨 */
  background-position: center; /* 이미지를 중앙에 배치 */
  height: 50vh; /* 배너의 높이를 뷰포트 높이의 50%로 설정 */
  width: 100%; /* 배너의 너비를 화면 너비와 동일하게 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.banner-content {
  text-align: center;
  max-width: 600px;
  width: 100%;
}

.card {
  width: 60%; /* 카드의 폭을 설정 */
  margin-bottom: 50px; /* 카드 사이의 여백 설정 */
  border: 1px black;
  /* 기타 스타일링 */
}

.card:nth-child(odd) {
  align-self: flex-start; /* 홀수 번째 카드는 왼쪽 정렬 */
}

.card:nth-child(even) {
  align-self: flex-end; /* 짝수 번째 카드는 오른쪽 정렬 */
}

/* 미디어 쿼리: 화면이 768px 이하일 때 */
@media (max-width: 1199px) {

  .banner-section {
    width: 100%;
    height: 30vh; /* 모바일 화면에서 높이 조정 */
  }

  .card {
    width: 100%; /* 모바일 화면에서 카드 전체 너비 */
    align-self: center; /* 모바일 화면에서 카드 중앙 정렬 */
  }
}

